body{
  background:#AAAAAA;
}
div{
  width: 400px;
  height: 200px;
  display: inline-block;
}
.blue{
  background: #3498db;
}
.white{
  background:white;
  /**display: none;**/
  /**visibility: hidden;**/
}

.red{
  background: #e74c3c;
}

.link{
 padding: 10px 20px;
 text-decoration: none;
 background:#e74c3c;
 display: inline-block;
 color: white;
 text-transform: uppercase;
 font-family: Arial,sans-serif;
 transition:all 0.3s linear;
}

/** link:hover permet de voir ce qu'il se passe quand on survole le bouton **/

.link:hover{
  color: #e74c3c;
  background: white;
}
